beautifulsoup4==4.12.3
branca==0.7.1
catboost==1.2.7
fiona==1.9.5
folium==0.15.1
haversine==2.8.1
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.6.3
numpy==2.2.2
pandas==2.2.3
Requests==2.32.3
scikit_learn==1.2.2
selenium==4.28.0
Shapely==2.0.6
tenacity==9.0.0
xgboost==2.1.3
